version: "3.9"

services:
  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - db
    environment:
      DB_HOST: db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: web_docker_interface
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
