.navigation-container {
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;

  border: solid 1px #000;
  border-radius: 10px;
  background-color: whitesmoke;
}

.navigation-container > * {
  margin: 8px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border: solid 1px #000;
  background-color: whitesmoke;
}